@charset "utf-8";
/* CSS Document */

#wrapper{
	background: #FFFFFF;
	margin: 0px 0px 2px 0px;
	padding: 20px 15px;
	min-height: 20px;
	overflow: hidden;
	width: 95%;
	overflow: hidden;
	
	border-bottom: solid 2px #e3e5eb;
}
	#wrapper table{
		border-bottom: solid 1px #d4d7e0;
		padding: 2px;
		
	}
	
	#wrapper label{ 
		color: #333333; 
		font-weight: bold;
		display: block;
	}
	
	.row{width: 95%;display: block;}
	.col-md-4{
		width: 33.3%;
		float: left;
		display: inline-block;
	}
	
	.form-control{
		width: 80%;
		border-radius: 4px;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		padding: 5px;
		border: solid 1px #e8ebec;
	}
	.text-right{text-align: right;}
	#submit{margin: 15px 63px 0px 0px;}
	
.clearfix {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 10px;
}
.twb-example{
	background: rgb(191,210,224); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(191,210,224,1) 0%, rgba(155,183,204,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(191,210,224,1)), color-stop(100%,rgba(155,183,204,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(191,210,224,1) 0%,rgba(155,183,204,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(191,210,224,1) 0%,rgba(155,183,204,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(191,210,224,1) 0%,rgba(155,183,204,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(191,210,224,1) 0%,rgba(155,183,204,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd2e0', endColorstr='#9bb7cc',GradientType=0 ); /* IE6-9 */
	color: #FFF;
	padding: 8px 10px;
	font-size: 14px;
	margin-bottom: 20px;
}
	.exampleHeader{
		height: 30px;
		background: #ecedf1;
		border-bottom: solid 1px #f8f8fa;
		color: #9da8bc;
		padding: 8px 10px;
		text-transform: uppercase;
		font-weight: bold;
		border-left: solid 1px #d4d7e0;
		border-right: solid 1px #d4d7e0;
	}
	
		.credits{
		margin-right: 20px;
		text-align: right;
		font-size: 11px;
		color: #000;
		font-family: Arial;
	}
/*----- Accordion -----*/
.accordion, .accordion * {
    -webkit-box-sizing:border-box; 
    -moz-box-sizing:border-box; 
    box-sizing:border-box;
}
 
.accordion {
    overflow:hidden;
    margin-top: 15px;
}

/*----- Section Titles -----*/
.accordion-section-title {
    transition:all linear 0.15s;
    /* Type */
    font-size: 22px;
    
	width: 100%;
	background: #f7f8f8;
	font-family: Arial;
	padding: 15px;	
	border: solid 1px #e8ebec;
	display:inline-block;
	color: #000;
	text-decoration: none;
	
}
.accordion-section-title  img{ margin-right: 15px; }
.accordion-section-title.active, .accordion-section-title:hover {
    background: #ebefef;
    /* Type */
    text-decoration:none;
}
 
.accordion-section:last-child .accordion-section-title {
    border-bottom:none;
}
 
/*----- Section Content -----*/
.accordion-section-content {
    padding:15px;
    display:none;
}